<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEtCmkjvGNVPE8FXj5B3PnDDveK6U7rWA</string>
	<key>GCM_SENDER_ID</key>
	<string>28049729949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetkoch</string>
	<key>PROJECT_ID</key>
	<string>meetkoch-b248e</string>
	<key>STORAGE_BUCKET</key>
	<string>meetkoch-b248e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28049729949:ios:af0c15dc49e9d36c196774</string>
</dict>
</plist>